@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body {
	display: flex;
	flex-direction:column;
	align-items: center;
	margin: 0 auto;
	max-width: fit-content;

}
.smImg {
	width: 50%;
}

.question{
	width: max-content;
	background-color: var(--color);
	font-family: "Pacifico", cursive;
	text-decoration: underline;

}

.options{
	width: max-content;
	background-color: var(--color);
}

.bigfont{
	font-size: 25px;
	text-wrap: wrap;
}

.medfont{
	font-size:20px;
}